<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey</title>
</head>

<body>
    <main>

        <form action="/survey/submitted" method="POST">
            Name <input type="text" name="name"><br>


            <h5>Question 1</h5>1<input type="radio" name="q1">2<input type="radio" name="q1">3<input type="radio"
                name="q1">4<input type="radio" name="q1">5<input type="radio" name="q1">6<input type="radio"
                name="q1">7<input type="radio" name="q1">8<input type="radio" name="q1">9<input type="radio"
                name="q1">10<input type="radio" name="q1">


            <h5>Question 2</h5>1<input type="radio" name="q2">2<input type="radio" name="q2">3<input type="radio"
                name="q2">4<input type="radio" name="q2">5<input type="radio" name="q2">6<input type="radio"
                name="q2">7<input type="radio" name="q2">8<input type="radio" name="q2">9<input type="radio"
                name="q2">10<input type="radio" name="q2">


            <h5>Question 3</h5>1<input type="radio" name="q3">2<input type="radio" name="q3">3<input type="radio"
                name="q3">4<input type="radio" name="q3">5<input type="radio" name="q3">6<input type="radio"
                name="q3">7<input type="radio" name="q3">8<input type="radio" name="q3">9<input type="radio"
                name="q3">10<input type="radio" name="q3">


            <h5>Question 4</h5>1<input type="radio" name="q4">2<input type="radio" name="q4">3<input type="radio"
                name="q4">4<input type="radio" name="q4">5<input type="radio" name="q4">6<input type="radio"
                name="q4">7<input type="radio" name="q4">8<input type="radio" name="q4">9<input type="radio"
                name="q4">10<input type="radio" name="q4">


            <h5>Question 5</h5>1<input type="radio" name="q5">2<input type="radio" name="q5">3<input type="radio"
                name="q5">4<input type="radio" name="q5">5<input type="radio" name="q5">6<input type="radio"
                name="q5">7<input type="radio" name="q5">8<input type="radio" name="q5">9<input type="radio"
                name="q5">10<input type="radio" name="q5">


            <h5>Question 6</h5>1<input type="radio" name="q6">2<input type="radio" name="q6">3<input type="radio"
                name="q6">4<input type="radio" name="q6">5<input type="radio" name="q6">6<input type="radio"
                name="q6">7<input type="radio" name="q6">8<input type="radio" name="q6">9<input type="radio"
                name="q6">10<input type="radio" name="q6">


            <h5>Question 7</h5>1<input type="radio" name="q7">2<input type="radio" name="q7">3<input type="radio"
                name="q7">4<input type="radio" name="q7">5<input type="radio" name="q7">6<input type="radio"
                name="q7">7<input type="radio" name="q7">8<input type="radio" name="q7">9<input type="radio"
                name="q7">10<input type="radio" name="q7">


            <h5>Question 8</h5>1<input type="radio" name="q8">2<input type="radio" name="q8">3<input type="radio"
                name="q8">4<input type="radio" name="q8">5<input type="radio" name="q8">6<input type="radio"
                name="q8">7<input type="radio" name="q8">8<input type="radio" name="q8">9<input type="radio"
                name="q8">10<input type="radio" name="q8">


            <h5>Question 9</h5>1<input type="radio" name="q9">2<input type="radio" name="q9">3<input type="radio"
                name="q9">4<input type="radio" name="q9">5<input type="radio" name="q9">6<input type="radio"
                name="q9">7<input type="radio" name="q9">8<input type="radio" name="q9">9<input type="radio"
                name="q9">10<input type="radio" name="q9">


            <h5>Question 10</h5>1<input type="radio" name="q10">2<input type="radio" name="q10">3<input type="radio"
                name="q10">4<input type="radio" name="q10">5<input type="radio" name="q10">6<input type="radio"
                name="q10">7<input type="radio" name="q10">8<input type="radio" name="q10">9<input type="radio"
                name="q10">10<input type="radio" name="q10">


            <h5>Question 11</h5>1<input type="radio" name="q11">2<input type="radio" name="q11">3<input type="radio"
                name="q11">4<input type="radio" name="q11">5<input type="radio" name="q11">6<input type="radio"
                name="q11">7<input type="radio" name="q11">8<input type="radio" name="q11">9<input type="radio"
                name="q11">10<input type="radio" name="q11">


            <h5>Question 12</h5>1<input type="radio" name="q12">2<input type="radio" name="q12">3<input type="radio"
                name="q12">4<input type="radio" name="q12">5<input type="radio" name="q12">6<input type="radio"
                name="q12">7<input type="radio" name="q12">8<input type="radio" name="q12">9<input type="radio"
                name="q12">10<input type="radio" name="q12">


            <h5>Question 13</h5>1<input type="radio" name="q13">2<input type="radio" name="q13">3<input type="radio"
                name="q13">4<input type="radio" name="q13">5<input type="radio" name="q13">6<input type="radio"
                name="q13">7<input type="radio" name="q13">8<input type="radio" name="q13">9<input type="radio"
                name="q13">10<input type="radio" name="q13">


            <h5>Question 14</h5>1<input type="radio" name="q14">2<input type="radio" name="q14">3<input type="radio"
                name="q14">4<input type="radio" name="q14">5<input type="radio" name="q14">6<input type="radio"
                name="q14">7<input type="radio" name="q14">8<input type="radio" name="q14">9<input type="radio"
                name="q14">10<input type="radio" name="q14">


            <h5>Question 15</h5>1<input type="radio" name="q15">2<input type="radio" name="q15">3<input type="radio"
                name="q15">4<input type="radio" name="q15">5<input type="radio" name="q15">6<input type="radio"
                name="q15">7<input type="radio" name="q15">8<input type="radio" name="q15">9<input type="radio"
                name="q15">10<input type="radio" name="q15">


            <h5>Question 16</h5>1<input type="radio" name="q16">2<input type="radio" name="q16">3<input type="radio"
                name="q16">4<input type="radio" name="q16">5<input type="radio" name="q16">6<input type="radio"
                name="q16">7<input type="radio" name="q16">8<input type="radio" name="q16">9<input type="radio"
                name="q16">10<input type="radio" name="q16">


            <h5>Question 17</h5>1<input type="radio" name="q17">2<input type="radio" name="q17">3<input type="radio"
                name="q17">4<input type="radio" name="q17">5<input type="radio" name="q17">6<input type="radio"
                name="q17">7<input type="radio" name="q17">8<input type="radio" name="q17">9<input type="radio"
                name="q17">10<input type="radio" name="q17">


            <h5>Question 18</h5>1<input type="radio" name="q18">2<input type="radio" name="q18">3<input type="radio"
                name="q18">4<input type="radio" name="q18">5<input type="radio" name="q18">6<input type="radio"
                name="q18">7<input type="radio" name="q18">8<input type="radio" name="q18">9<input type="radio"
                name="q18">10<input type="radio" name="q18">


            <h5>Question 19</h5>1<input type="radio" name="q19">2<input type="radio" name="q19">3<input type="radio"
                name="q19">4<input type="radio" name="q19">5<input type="radio" name="q19">6<input type="radio"
                name="q19">7<input type="radio" name="q19">8<input type="radio" name="q19">9<input type="radio"
                name="q19">10<input type="radio" name="q19">


            <h5>Question 20</h5>1<input type="radio" name="q20">2<input type="radio" name="q20">3<input type="radio"
                name="q20">4<input type="radio" name="q20">5<input type="radio" name="q20">6<input type="radio"
                name="q20">7<input type="radio" name="q20">8<input type="radio" name="q20">9<input type="radio"
                name="q20">10<input type="radio" name="q20">
                <br>
                <br>

        <button type="submit">Submit</button>
        </form>
    </main>
</body>

</html>